<header class="main-layout full">
    <div [ngClass]="isHeaderFilterActive ? 'header-content filter-active' : 'header-content'">
        <div class="logo" routerLink="/">
            <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681629704/logo_smny53.png" alt="">
            <h2>airbnb</h2>
        </div>
        <nav>
            <div class="home-nav" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>{{'stay.header.your-home'|translate}}</span>
            </div>
            <div (click)="onToggleLanguageModal()">
                <span class="language material-symbols-outlined">language</span>
            </div>
            <div class="menu" (click)="onToggleHeaderMenuModal()">
                <fa-icon [icon]="faBars"></fa-icon>
                <img [src]="getUserImg()" alt="">
                <span *ngIf="UserNotification" class="notification">{{UserNotification}}</span>

                <header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()" (toggleLanguageModal)="onToggleLanguageModal()"
                [isOpenLanguageModal]="isOpenLanguageModal" [isOpenFooter]="false"
                *ngIf="isShowHeaderMenuModal"></header-menu-modal>
            </div>
        </nav>
    </div>
    <header-filter *ngIf="isShowFilter" [isHeaderFilterActive]="isHeaderFilterActive"
        (toggleHeaderFilter)="toggleHeaderFilter()"></header-filter>
</header>

<language-modal (onToggleLanguageModal)="onToggleLanguageModal()" *ngIf="isOpenLanguageModal"></language-modal>
