@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/function';

header {
    min-height: 80px;
    padding: 12px 0;
    color: $header-text-color;
    border-bottom: 1px solid $border-color;
    color: $header-text-color;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.filter-active {
          align-items: start;
        }

        .logo {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $secondary-color;
            height: 42px;

            img {
                width: 46px;
            }
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        font-size: rem(14px);
        font-weight: 600;
        height: 42px;
        >* {
            cursor: pointer;
            padding: 12px;
            border-radius: 22px;

            &:hover:not(.menu) {
                background-color: $main-hover;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 5px 5px 12px;
            width: 76px;
            border:1px solid $border-color;

            transition: box-shadow .4s;
            img {
                border-radius: 2em;
                width: 29px;
                height: 29px;
            }

            &:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
            }
        }
    }
}

