<header class="main-layout full">
    <div [ngClass]="isHeaderFilterActive ? 'header-content filter-active' : 'header-content'">
        <div class="logo" routerLink="/">
            <img src="assets/img/logo.png" alt="">
            <h2>airbnb</h2>
        </div>
        <header-filter [isHeaderFilterActive]="isHeaderFilterActive" (toggleHeaderFilter)="toggleHeaderFilter()"></header-filter>
        <nav>
            <div class="home-nav" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>Airbnb your home</span>
            </div>
            <div class="language">
                <fa-icon [icon]="faGlobe"></fa-icon>
            </div>
            <div class="menu" (click)="onToggleHeaderMenuModal()">
                <fa-icon [icon]="faBars"></fa-icon>
                <img [src]="getUserImg()" alt="">
            </div>
        </nav>
    </div>
</header>
<header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()" *ngIf="isShowHeaderMenuModal"></header-menu-modal>
