<header class="main-layout full">
    <div [ngClass]="isHeaderFilterActive ? 'header-content filter-active' : 'header-content'">
        <div class="logo" routerLink="/">
            <img src="assets/img/logo.png" alt="">
            <h2>airbnb</h2>
        </div>
        <nav>
            <div class="home-nav" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>{{'stay.header.your-home'|translate}}</span>
            </div>
            <div (click)="onToggleLanguageModal()">
                <span class="language material-symbols-outlined">language</span>
            </div>
            <div class="menu" (click)="onToggleHeaderMenuModal()">
                <fa-icon [icon]="faBars"></fa-icon>
                <img [src]="getUserImg()" alt="">
                <span class="notification">{{UserNotification}}</span>
            </div>
        </nav>
    </div>
    <header-filter [isHeaderFilterActive]="isHeaderFilterActive"
        (toggleHeaderFilter)="toggleHeaderFilter()"></header-filter>
</header>
<header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()" [isOpenFooter]="false"
    *ngIf="isShowHeaderMenuModal"></header-menu-modal>
<lagnuage-modal (onToggleLanguageModal)="onToggleLanguageModal()" *ngIf="isOpenLanguageModal"></lagnuage-modal>