<section class="home-header">
    <div class="logo" routerLink="/">
        <img src="assets/img/logo.png" alt="">
        <h3>airbnb</h3>
    </div>
    <div class="login-container">
        <div class="about-us" routerLink="/about">
            <span class="icon material-symbols-outlined">info</span>
            <h5>About Us</h5>
        </div>
        <div class="explore" routerLink="/">
            <span>Explore</span>
        </div>
        <div class="menu" (click)="onToggleHeaderMenuModal()">
            <fa-icon [icon]="faBars"></fa-icon>
            <img [src]="getUserImg()" alt="">
        </div>
    </div>
</section>
<header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()"
    *ngIf="isShowHeaderMenuModal"></header-menu-modal>