@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.map {
    -webkit-border-radius: 30px;
    // -webkit-box-shadow: 8px 8px 16px #323834;
    border-radius: 12px;

    @include for-mobile-layout {
        margin: 0 5px;
    }
}

google-map {
    .map-container {
        border-radius: 24px !important;
    }

    .gmnoprint {
        display: none;
    }

    .marker {
        background-color: pink;
        height: 30px;
    }

    .gm-style div[aria-hidden="true"] {
        background-color: rgb(150, 35, 35) !important;
        padding: 5px;
        border-radius: 5px;
    }

    .gm-style {
        background-color: red;
    }

}

::ng-deep .map-marker div {
    width: 200px !important;
    height: 200px !important;
    background-color: red !important;
}