google-map {

    .map-container{
        border-radius: 24px !important;
    }
    .gmnoprint{
        display: none;
    }

    .marker{
        background-color: pink;
        height: 30px;
    }
}