@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.user-order {
    color: $header-text-color;
    border: 2px solid #dad4d4bc ;
    padding: 14px;
    h2 {
        letter-spacing: 1px;
    }

    .order-status-container {
        @include user-details-container()
    }
}