<section class="stay-filter">

    <div (click)="onClickArrow(-1)" *ngIf="checkLeftArrow()" class="arrow-container arrow-left">
        <div class="arrow arrow-left">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </div>
    </div>

    <div class="filter-container">
        <div *ngFor="let filter of getFilters()">
            <img src="{{filter.img}}" alt="">
            <span>{{filter.txt}}</span>
        </div>
    </div>
    <div class="filter-btn">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
            focusable="false" style="display: block; height: 14px; width: 14px; fill: currentcolor;">
            <path
                d="M5 8c1.306 0 2.418.835 2.83 2H14v2H7.829A3.001 3.001 0 1 1 5 8zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm6-8a3 3 0 1 1-2.829 4H2V4h6.17A3.001 3.001 0 0 1 11 2zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
            </path>
        </svg>
        <span>Filters</span>
    </div>
    <div *ngIf="checkRightArrow()" (click)="onClickArrow(1)" class="arrow-container arrow-right">
        <div class="arrow arrow-right">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>
    </div>
</section>