@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

::ng-deep airbnb-calendar{
  top: 60px;
  right: 703px;
  display: flex;
  flex-direction: column;

  // .airbnb-calendar-container{
  // }

  div {
    padding: 0 0;
  }
  // :first-child {
  //   width: 60%;
  //   :first-child {
  //     padding: 0;
  //     border-radius: 8px;
  //     >* {
  //       float: right;
  //       padding: unset;
  //     }
  //   }
  // }
}

::ng-deep .airbnb-calendar-container[_ngcontent-utb-c73] {
  background-color: #D70466;
}


.stay-order {
    position: sticky;
    top: 86px;

    .order-content {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        padding: 24px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        color: $header-text-color;
        min-width: 350px;

        .stay-order-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            >* {
                @include center-flex();
                gap: 8px;
            }

            .total {
                align-items: baseline;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;

                span {
                    font-weight: 400;
                    white-space: nowrap;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .reviews {
                .rating {
                    @include center-flex();
                    gap: 2px;

                    .star {
                        font-size: 12px;
                    }
                }

                .sum-of-reviews {
                    color: $main-color;
                    font-size: 14px;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }

        .checkout-container {
            border: 1px solid gray;
            border-radius: 8px;
            margin-bottom: 16px;
            cursor: pointer;

            #calender {
              opacity: 0;
              width: 0;

              [_nghost-bhy-c73] {
                box-sizing: border-box;
                display: block;
                position: relative;
                right: 591px;
                z-index: 10;
                top: 52px;
            }
            }

            label, button {
                display: flex;
                flex-direction: column;
                white-space: nowrap;
                line-height: 18px;
                font-size: 14px;
                background-color: inherit;
                border: none;
                padding: 13px 12px 10px;
                height: 56px;
                color: $main-color;
                cursor: pointer;

            }

            .title {
                color: $header-text-color;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .checkout-btns {
                display: flex;

                >* {
                    width: 50%;
                    text-align: start;

                    &:first-child {
                        border-right: 1px solid gray;
                    }
                }

                &:focus-visible {
                    border: 1px solid black;
                }
            }

            .guest-btn {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 12px;

                button {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0;
                    text-align: left;
                }

                border-top: 1px solid gray;
                width: 100%;
            }


        }

        .order-btn {
          @include main-btn();
        }

        .order-description {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 24px;

            >* {
                margin-top: 8px;
            }
        }

        .price-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: $main-color;
            border-bottom: 1px solid rgb(212, 203, 203);
            padding-bottom: 20px;

            .price-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .price-item {
                text-decoration: underline;
            }
        }

        .total-price {
            margin-top: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 0;
        }
    }

    .order-type {
        display: flex;
        justify-content: space-between;
        color: $main-color;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        padding: 24px;
        margin-top: 24px;

        p {
            width: 80%;

            span {
                color: $header-text-color;
                font-weight: 600;
            }
        }

    }
}
