<section class="region-modal">
  <h2>Search by region</h2>
  <div class="img-container">
    <div (click)="setFilter('')">
       <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631419/region/flex_x8a5sg.jpg" alt="">
       <div class="name">I’m flexible</div>
    </div>
    <div (click)="setFilter('Brazil')">
       <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631419/region/brazil_zi0g2k.jpg" alt="">
       <div class="name">Brazil</div>
    </div>
    <div (click)="setFilter('Italy')">
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631419/region/italy_z928yi.webp" alt="">
      <div class="name">Italy</div>
    </div>
  </div>
  <div class="img-container">
    <div (click)="setFilter('France')">
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631419/region/france_fmg0v0.webp" alt="">
      <div class="name">France</div>
    </div>
    <div (click)="setFilter('United States')">
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631419/region/usa_rrbpfr.webp" alt="">
      <div class="name">United States</div>
    </div>
    <div (click)="setFilter('Norway')">
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631420/region/norway_lww7v5.jpg" alt="">
      <div class="name">Norway</div>
    </div>
  </div>
</section>
