@import '../../../../assets/styles/setup/mixins';
@import '../../../../assets/styles/setup/variables';

.amenities-preview {
  display: flex;
  gap: 12px;
  color: #222222;
  font-weight: 300;
  img {
    width: 24px;
    height: 24px;
  }
}
