@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.user {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        padding: 16px 0;

        span {
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            border-radius: 6px;
            padding: 10px 0;
            min-width: 180px;
            flex-grow: 1;
            text-align: center;
            color: $secondary-color;
            transition: .2s;
            text-transform: uppercase;
            color: rgb(62, 54, 54);

            &:hover {
                background-color: darken($main-hover, 5%);
                color: $secondary-color;
            }

            &.active {
                color: white;
                background-color: $secondary-color;
            }
        }
      }


      .dynamic-cmp {
        margin-bottom: 24px;
        min-height: 50vh;
        .wishlist {
          color: $header-text-color;
          h2 {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 32px;
          }
          h3 {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 16px;
          }
          p {
            color: $main-color;
            font-size: 14px;
            font-weight: 400;
            width: 490px;
            line-height: 20px;
          }
        }
    }

    @media print {
        nav {
            display: none;
        }
    }

}
