@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.user {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        padding: 16px 0;

        span {
            @include center-flex();
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            border-radius: 6px;
            width: 33%;
            flex-grow: 1;
            text-align: center;
            color: $secondary-color;
            transition: .2s;
            text-transform: uppercase;
            color: rgb(62, 54, 54);
            height: 37px;

            &:last-child{
                width: 100%;
            }

            &:hover {
                background-color: darken($main-hover, 5%);
                color: $secondary-color;
            }

            &.active {
                color: white;
                background-color: $secondary-color;
            }

            @include for-normal-layout{
                width: 15%;
                &:last-child{
                    width: 15%;
                }
            }
        }

        @include for-narrow-layout {
            flex-direction: row;
        }
    }

    main {
        min-height: calc(100vh - 491px);
    }

    @media print {
        nav , app-footer{
            display: none;
        }
    }

    @include for-mobile-layout {
        .main-layout {
            display: unset;
        }
    }
}