<section class="user">
    <app-header></app-header>

    <main class="main-layout">
        <nav>
            <span (click)="pageNav = 'user-order'" class="{{pageNav === 'user-order' ? 'active' : ''}}">Orders</span>
            <span (click)="pageNav = 'user-trips'" class="{{pageNav === 'user-trips' ? 'active' : ''}}">My trips</span>
            <span (click)="pageNav = 'user-stays'" class="{{pageNav === 'user-stays' ? 'active' : ''}}">My stays</span>
            <span (click)="onClickWishList()" class="{{pageNav === 'wishlist' ? 'active' : ''}}">Wishlist</span>
            <span (click)="pageNav = 'edit-stay'" class="{{pageNav === 'edit-stay' ? 'active' : ''}}">Add a stay</span>
        </nav>
        <div [ngSwitch]="pageNav" class="dynamic-cmp">
            <home *ngSwitchCase="'home'"></home>
            <user-order [user]="user" *ngSwitchCase="'user-order'"></user-order>
            <user-stays *ngSwitchCase="'user-stays'"></user-stays>
            <user-trips *ngSwitchCase="'user-trips'"></user-trips>
            <edit-stay *ngSwitchCase="'edit-stay'"></edit-stay>
            <stay-list *ngSwitchCase="'wishlist'" [stays]="stays$ | async"></stay-list>
        </div>
    </main>

    <app-footer></app-footer>
</section>
