<section class="user-stays">
      <div class="stays">
            <div class="titles">
                  <h2 class="name-title big">Name</h2>
                  <h2>Action</h2>
                  <h2>Capacity</h2>
                  <h2>Price</h2>
                  <h2 class="big">Location</h2>
                  <h2>Rate</h2>
            </div>
            <div *ngFor="let stay of userStays" class="stays-content">
                  <div class="stay-name big">
                        <img [src]="stay.imgUrls[0]" alt="stay-image">
                        <span>{{stay.name}}</span>
                  </div>
                  <button class="update-btn" [routerLink]="['/user/edit/' , stay._id]">Update</button>
                  <span>{{stay.capacity}}</span>
                  <span>{{stay.price | currency }}</span>
                  <span class="big">{{stay.loc.address}}</span>
                  <div>
                        <span>{{getRateAvg(stay)}}</span>
                        <fa-icon class="star" [icon]="faStar"></fa-icon>
                  </div>
            </div>
      </div>
</section>