<section class="stay-index">
  <app-header [isShowFilter]="true"></app-header>
  <stay-filter></stay-filter>
  <main *ngIf="!this.loader.getLoading() || isLoadStay" class="main-layout">
    <div #elFooter (window:scroll)="onPageScroll()">
      <stay-list [stays]="stays$ | async"></stay-list>
      <skeleton-loader *ngIf="this.loader.getLoading() && isLoadStay"></skeleton-loader>
    </div>
    <app-footer class="full"></app-footer>
  </main>

  <a *ngIf="isShowScroller" (click)="onPageUp()" class="scroller-up"><span
      class="material-symbols-outlined">expand_less</span></a>

  <skeleton-loader *ngIf="this.loader.getLoading()"></skeleton-loader>

  <a *ngIf="isShowClearBtn" (click)="onClearFilter()" loading="eager" class="clear-filter">
    <img src="assets/img/stay/clear-filter.png" alt="">
  </a>
</section>
