<div class="special-perks">
  <div>
    <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631193/special-perks/super-host_tliool.png" alt="">
    <div>
      <h2>{{stay.host.fullname}} is a Superhost</h2>
      <p>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</p>
    </div>
  </div>
    <div>
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631193/special-perks/marker_zdgmz1.png" alt="">
      <div>
        <h2>Great location</h2>
        <p>100% of recent guests gave the location a 5-star rating.</p>
    </div>
  </div>
    <div>
      <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631193/special-perks/key_ecqa8c.png" alt="">
      <div>
        <h2>Great check-in experience</h2>
        <p>100% of recent guests gave the check-in process a 5-star rating.</p>
    </div>
  </div>
</div>
