@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.about {
      text-align: center;
      color: $black;
      font-family: "Poppins", sans-serif;

      .header {
            width: 80%;
            margin: 80px auto 30px auto;

            >* {
                  padding-bottom: 12px;
                  font-size: 20px;
            }
      }

      main {
            padding: 40px 0;
            display: flex;
            justify-content: center;
            gap: 10px;

            >* {
                  @include center-flex();
                  flex-direction: column;
                  width: 50%;

                  .description {
                        font-size: 17px;
                        letter-spacing: 1px;
                        word-spacing: 3px;
                        width: 80%;
                        padding: 24px 18px;
                        box-shadow: 0px 1px 20px 0px rgb(184 41 159 / 19%);
                  }
            }

            img {
                  position: relative;
                  top: 16px;
                  width: 80px;
                  z-index: 5;
                  height: 85px;
                  border-radius: 50%;
                  box-shadow: 0px 1px 20px 0px #b8299f70;
            }

            .bold {
                  font-weight: 600;
            }

            .icon-container {
                  @include center-flex();
                  gap: 24px;
                  font-size: 30px;
                  padding-top: 15px;

                  >* {
                        cursor: pointer;
                        transition: transform .2s;

                        &:hover {
                              transform: scale(1.08);
                        }
                  }

                  .linkedin {
                        color: #0077b5;
                  }
            }

            @include for-mobile-layout() {
                  & {
                        flex-direction: column;

                        >* {
                              padding-bottom: 80px;
                              width: 100%;
                        }
                  }
            }
      }
}