<section class="about">
      <home-header></home-header>
      <div class="header">
            <h1>Who Are We ?</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi soluta molestiae nam dolore sit?
                  Voluptatem,
                  quod, voluptate quam accusantium omnis reiciendis illo vel, expedita voluptatum quis deleniti sit
                  ratione ut
                  numquam fuga distinctio dolores facilis voluptas. Impedit aperiam aut ab!</p>
      </div>
      <main class="main">
            <div class="ofer">
                  <img src="assets/img/ofer.jpg" alt="ofer">
                  <div class="description">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, voluptates.</p>
                  </div>
            </div>
            <div class="idan">
                  <img src="assets/img/idan.jpg" alt="idan">
                  <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nemo!</p>
                  </div>
            </div>
      </main>
</section>