<section *ngIf="order" class="purchase-indication">
  <div *ngIf="!isAfterConfirm" class="title">
    <h2>One last step</h2>
    <p>Dir guest,</p>
    <p>In order to complete your reservation, please confirm your trip details</p>
  </div>
  <div *ngIf="isAfterConfirm" class="title-after-confirm">
    <h2>Reserved successfully</h2>
    <p>You can follow the order status in <a href="/user">My trip</a> page</p>
  </div>
  <div class="content">
    <div class="details">
      <h3>Reservation details</h3>
      <div class="dates">
        <h4>Trip dates:</h4>
        <div>
          <span>{{order.startDate | date: 'M/d/yy'}}</span>
          <span>-</span>
          <span>{{order.endDate | date: 'M/d/yy'}}</span>
        </div>
      </div>
      <div class="guests">
        <h4>Guests</h4>
        <div class="guest-list">{{getGuests}}</div>
      </div>
      <div class="price-details">
        <h4>Price details</h4>
        <div class="price-night">
          <div>
            <span>{{order.stay.price | currency}}</span>
            <span>X</span>
            <span>{{GetTotalDays}} nights</span>
          </div>
          <span>{{Price | currency}}</span>
        </div>
        <div class="service">
          <span>Service fee</span>
          <span>{{ServiceFee | currency}}</span>
        </div>
      </div>
      <div class="price-total">
        <span>Total</span>
        <span>{{order.totalPrice | currency}}</span>
      </div>
    </div>
    <div class="img-container">
      <img [src]="stay.imgUrls[0]" alt="">
      <div>{{stay.loc.address}}</div>
    </div>
  </div>
  <div class="btn-container">
    <button *ngIf="!isAfterConfirm" class="back" (click)="onClickBack()">Back</button>
    <button *ngIf="!isAfterConfirm" class="confirm" (click)="onClickConfirm()">Confirm</button>
    <button *ngIf="isAfterConfirm" class="close" (click)="onClickClose()">Close</button>
  </div>
</section>
