<section class="user-trips">
    <h2>Hi {{user.fullname}}, you have {{orders.length}} pending trips</h2>

    <div class="trips-details">
        <span>Trips:</span>
        <div>
            <span>{{getOrderStatusAmount('approved')}}/{{orders.length}}</span>
            <fa-icon class="icon-approved" [icon]="faCircle"></fa-icon>
            <span>(Approved)</span>
        </div>
        <div>
            <span>{{getOrderStatusAmount('pending')}}/{{orders.length}}</span>
            <fa-icon class="icon-pending" [icon]="faCircle"></fa-icon>
            <span>(Pending)</span>
        </div>
        <div>
            <span>{{getOrderStatusAmount('declined')}}/{{orders.length}}</span>
            <fa-icon class="icon-declined" [icon]="faCircle"></fa-icon>
            <span>(Declined)</span>
        </div>
    </div>

    <div class="trips-table"></div>
</section>