@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';
@import "https://fonts.googleapis.com/css?family=Montserrat:400,800";

.ng-valid[required],
input.ng-valid {
	border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}

.alert div {
	background-color: #fed3d3;
	color: #820000;
	padding: 10px;
	width: 100%;
	margin-top: -16px;
	margin-bottom: 12px;
	border-radius: 8px;
	font-size: 13px;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;

	&:active {
		transform: scale(0.95);
	}

	&:focus {
		outline: none;
	}
}

button:disabled {
	cursor: not-allowed;

	&:hover {
		animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
		transform: translate3d(0, 0, 0);
		perspective: 1000px;
	}

	@keyframes shake {

		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}

		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}
}

#imgUpload {
	display: none;
}

.img-picker {

	img {
		cursor: pointer;
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}
}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.login-page {
	.logo{
		padding:20px 48px;
		border-bottom: 1px solid $border-color;
		img{
			width: 30px;
			cursor: pointer;
		}
		.close-btn {
			color: #827575;
			cursor: pointer;
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 2.2em;
		}
	}
	.form-container {
		font-family: "Poppins", sans-serif;
		margin: 20px auto;
		width: 480px;
		padding: 32px;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0px 0px 20px 0px rgba(107, 114, 128, 0.2509803922);
		text-align: center;

		@include for-mobile-layout() {
			width: fit-content;
			margin: 0 auto;
			box-shadow: unset;

			.header {
				margin-bottom: 18px;
			}
		}
	}
}

p {
	font-size: 14px;
	color: #6b7280;
}

.header {
	margin-bottom: 48px;

	h1 {
		font-weight: bolder;
		font-size: 28px;
		color: $secondary-color;
		letter-spacing: 1px;
	}
}

.input-container {
	position: relative;
	margin-bottom: 24px;

	input {
		outline-color: #a5b4fc;
		width: 100%;
		border: none;
		padding: 16px 40px;
		border-radius: 4px;
		background-color: #f3f4f6;
		color: #1f2937;
		font-size: 16px;

		&::placeholder {
			color: #6b7280;
		}
	}

	.icon {
		top: 50%;
		width: 36px;
		position: absolute;
		transform: translateY(-50%);
		color: #6b7280;
		font-size: 16px;
	}
}

.signup-btn {
	width: 100%;
	border: none;
	padding: 8px 0;
	margin: 18px 0;
	border-radius: 4px;
	background-color: $secondary-color;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;

	&.demo{
		margin: 0;
	}
}

.social-icons {
	display: flex;
	justify-content: center;

	.social-icon {
		@include center-flex();
		height: 36px;
		width: 36px;
		line-height: 36px;
		border-radius: 50%;
		margin: 24px 8px 48px 8px;
		background-color: gray;
		color: #ffffff;
		font-size: 16px;
		cursor: pointer;

		&.facebook {
			background-color: #3b5998;
		}

		&.twitter {
			background-color: #1da1f2;
		}

		&.google {
			background-color: #dd4b39;
		}
	}
}

.toggle-btn {
	color: $secondary-color;
	font-weight: 600;
	cursor: pointer;
}