@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.edit-stay {
      color: #373333;
      padding: 0 8px;
      margin-bottom: 72px;

      input,
      select {
            padding: 6px;
            outline: none;
            border: none;
            border-bottom: 1px solid #2c2929;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;

            &:focus-visible {
                  background-color: #f2f8ff;
                  border-bottom: 1px solid #1976d2;
            }
      }

      textarea {
            width: 100%;
            resize: vertical;
      }

      .img-picker {
            display: grid;
            grid-template-columns: 1fr .5fr .5fr;
            gap: 10px;
            height: 283px;
            width: 100%;
            padding: 16px 0;

            label {
                  @include center-flex();
                  // height: 195px;
                  width: 100%;
                  background-color: #f1f1f1;
                  color: #635c5c;
                  cursor: pointer;
            }

            label:first-child {
                  height: 250px;
                  border-bottom-left-radius: 10px;
                  border-top-left-radius: 10px;
                  grid-row: 1/3;
            }

            label:nth-child(3) {
                  border-top-right-radius: 10px;
            }

            label:nth-child(5) {
                  border-bottom-right-radius: 10px;
            }

            #imgUpload {
                  display: none;
            }

            img {
                  height: 100%;
                  aspect-ratio: 1/1;
                  object-fit: cover;
            }

            @include for-narrow-layout {
                  height: 416px;

                  label {
                        height: 195px;
                  }

                  label:first-child {
                        height: 400px;
                  }

            }
      }

      .stay-info {
            display: flex;
            justify-content: space-between;
            padding: 24px 0;
            flex-direction: column;
            gap: 30px;

            >* {
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  gap: 40px;
                  padding-bottom: 20px;
                  border-bottom: 1px solid $border-color;
            }

            label {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 4px;
            }

            ng-multiselect-dropdown {
                  width: 200px;
            }

            .user-img-upload {
                  input {
                        display: none;
                  }

                  .user-img {
                        cursor: pointer;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                  }
            }
      }

      .stay-description {
            border-bottom: 1px solid $border-color;
            padding: 24px 0;

            textarea {
                  border: 2px solid $border-color;
                  margin-top: 16px;
                  outline: none;
                  min-height: 200px;

                  &:focus-visible {
                        border: 2px solid #1976d2;
                  }
            }
      }

      .save-btn {
            @include main-btn();
            margin: 24px 0;
            padding: 10px 24px;
      }
}