/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($tablet-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-desktop-layout {
    @media (min-width: calc($wide-breakpoint + 40px)) {
        @content;
    }
}

@mixin center-flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-absolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin user-details-container() {
    margin: 16px auto;
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #efebeb;
    padding: 12px 18px;
    border-radius: 12px;
    width: max-content;

    div {
        display: flex;
        gap: 6px;

        .icon-approved {
            color: lightgreen;
        }

        .icon-pending {
            color: yellow;
        }

        .icon-declined {
            color: salmon;
        }
    }
}
