// colors
$header-text-color: #222222;
$main-color:#717171;
$secondary-color: #FF385C;

// fonts
$main-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 1400px;
$wide-breakpoint: 1760px;