// colors
$header-text-color: #222222;
$main-color:#717171;
$secondary-color: #FF385C;
$border-color: #dddddd;
$main-hover:#F7F7F7;
$black:#28282B;

// fonts
$main-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

// Breakpoints
$mobile-breakpoint: 400px;
$tablet-breakpoint: 650px;
$narrow-breakpoint: 960px;
$normal-breakpoint: 1400px;
$wide-breakpoint: 1760px;
