@import '../../../assets/styles/setup/variables';

.user-wishlist {
  color: $header-text-color;
  margin: 60px 0;

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  p {
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}