<section class="stay-details">
  <header>
    <div class="header-info">
      <h1>{{stay.name}}</h1>
      <div>
        <div class="rate">
          <fa-icon [icon]="starIcon"></fa-icon>
          <span>{{getRateAvg()}}</span>
        </div>
        <span class="point">.</span>
        <a href="" class="reviews">{{stay.reviews.length}} reviews</a>
        <span class="point">.</span>
        <div class="loc">{{stay.loc.address}}</div>
        <span class="point">.</span>
      </div>
    </div>
    <div class="share-save">
      <span class="share">
        <fa-icon [icon]="shareIcon"></fa-icon>
        <span>share</span>
      </span>
      <span class="save">
        <fa-icon [icon]="heartIcon"></fa-icon>
        <span>save</span>
      </span>
    </div>
  </header>
  <div class="img-container">
    <img class="img" [src]="stay.imgUrls[0]" alt="">
    <img class="img" [src]="stay.imgUrls[1]" alt="">
    <img class="img" [src]="stay.imgUrls[2]" alt="">
    <img class="img" [src]="stay.imgUrls[3]" alt="">
    <img class="img" [src]="stay.imgUrls[4]" alt="">
  </div>
  <div class="subtitle">
    <div class="subtitle-content">
      <h2>{{stay.roomType}} hosted by {{stay.host.fullname}}</h2>
      <div>
       <span>{{stay.capacity}} guests</span>
       <span class="point">.</span>
       <span>{{stay.bathrooms}} bathroom</span>
       <span class="point">.</span>
       <span>{{stay.bedrooms}} bedroom</span>
      </div>
    </div>
    <img [src]="stay.host.pictureUrl" alt="">
  </div>
  <div class="special-perks">
    <div>
      <img src="assets/img/special-perks/super-host.png" alt="">
      <div>
        <h2>{{stay.host.fullname}} is a Superhost</h2>
        <p>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</p>
      </div>
    </div>
      <div>
        <img src="assets/img/special-perks/marker.png" alt="">
        <div>
          <h2>Great location</h2>
          <p>100% of recent guests gave the location a 5-star rating.</p>
      </div>
    </div>
      <div>
        <img src="assets/img/special-perks/key.png" alt="">
        <div>
          <h2>Great check-in experience</h2>
          <p>100% of recent guests gave the check-in process a 5-star rating.</p>
      </div>
    </div>
  </div>
  <div class="air-cover">
    <h2><span>air</span>cover</h2>
    <div>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</div>
  </div>
</section>
