@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.home {
    background-image: url('../../../assets/img/home-page2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

