<section (window:scroll)="onScroll()" class="home main-layout">
    <div class="teaser full">
        <home-header [isTopZero]="isTopZero"></home-header>
    </div>
    <main >
        <div class="popular-cities">
            <h2>Popular cities around the world</h2>
            <div class="places">
                <article  (click)="onClickPlace('Portugal')">
                    <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631664/stay-home/portugal_me1ffx.jpg" alt="portugal">
                    <span class="name">Portugal</span>
                </article>
                <article (click)="onClickPlace('Brazil')">
                    <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631678/stay-home/brazil_r2x7pj.jpg" alt="portugal">
                    <span class="name">Brazil</span>
                </article>
                <article (click)="onClickPlace('United States')">
                    <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631663/stay-home/usa_bqopcs.jpg" alt="portugal">
                    <span class="name">United States</span>
                </article>
                <article (click)="onClickPlace('Canada')">
                    <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631665/stay-home/canada_vkm9fl.jpg" alt="portugal">
                    <span class="name">Canada</span>
                </article>
            </div>
        </div>
        <div class="become-host">
            <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681631655/stay-home/become-host_d8giku.jpg" alt="">
            <div class="content">
                <h2>Try hosting</h2>
                <p>Earn extra income and unlock new opportunities by sharing your space</p>
                <button (click)="onNavigateToHost()">Become Host</button>
            </div>
        </div>
    </main>
    <app-footer class="full"></app-footer>
</section>
