<section class="order-filter-modal">
    <div class="header-modal">
        <span class="title">Filters</span>
        <span class="reset-btn">Reset</span>
    </div>
    <span class="material-symbols-outlined close-btn">close</span>
    <ul class="filter-list">
        <li>
            <span>Stay name</span>
            <select name="name" id="name">
                <option value="">All</option>
                <option value="">option1</option>
            </select>
        </li>
    </ul>
</section>