@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.header-menu-modal {
    position: absolute;
    z-index: 10;
    top: 67px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 16px rgb(0 0 0 / 12%);
    border-radius: 12px;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 400;
    gap: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;

    &.footer {
        top: unset;
        bottom: 50px;
    }

    div {
        gap: 12px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $border-color;
        padding-bottom: 12px;
    }

    .bold {
        font-weight: 600;
    }

    span {
        cursor: pointer;
        padding: 12px;

        &:hover {
            background-color: $main-hover;
        }
    }

    @include for-normal-layout {
        .language {
            display: none;
        }
    }
}