<section [ngClass]="isOpenFooter ? 'footer' : ''" class="header-menu-modal">
    <div *ngIf="!isLoggedInUser()">
        <span [routerLink]="['/login']" class="bold">Sign up</span>
        <span [routerLink]="['/login']">Log in</span>
    </div>
    <div *ngIf="isLoggedInUser()">
        <span [routerLink]="['/user/trips']" (click)="toggleMenuModal()" class="bold">Trips</span>
        <span [routerLink]="['/user/wishlist']" (click)="toggleMenuModal()" class="bold">Wishlist</span>
    </div>
    <span [routerLink]="['/home']">Airbnb your home</span>
    <span *ngIf="isLoggedInUser()" routerLink="/" class="logout" (click)="onLogout()">Logout</span>
</section>
