@import '../../../assets/styles/setup/variables';
@import '../../../assets/styles/setup/mixins';

.app-footer {
  background-color: $main-hover;
  border-top: 1px solid $border-color;
  color: $header-text-color;
  font-size: 14px;
  display: none;

  .footer-content {
    padding-top: 48px;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 48px;

      :first-child {
        font-weight: 500;
      }

      li {
        font-weight: 300;
      }
    }
  }

  .footer-credits {
    height: 100px;
    @include center-flex();
  }

  @media print {
    & {
      display: none;
    }
  }
}

.mobile-footer {
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: grid;
  box-shadow: 0 0 1px 1px lightgrey;

  .footer-content {
    @include center-flex();
    justify-content: space-between;
    height: 100%;

    img.logo {
      cursor: pointer;
      width: 35px;
    }

    .menu {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85px;
      border: 1px solid $border-color;
      transition: box-shadow .4s;
      padding: 12px;
      border-radius: 12px;
      cursor: pointer;

      img {
        position: absolute;
        border-radius: 2em;
        width: 29px;
        height: 29px;
        right: 5px;
      }

      svg {
        position: absolute;
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      }
    }
  }
}

@include for-narrow-layout {
  .mobile-footer {
    display: none;
  }

  .app-footer {
    display: grid;
  }
}