<footer class='app-footer main-layout'>
  <div class='footer-content '>
    <ul>
      <li>Support</li>
      <li>Help Center</li>
      <li>Safety information</li>
      <li>Cancellation options</li>
      <li>Our COVID-19 Response</li>
      <li>Supporting people with disabilities</li>
      <li>Report a neighborhood concern</li>
    </ul>
    <ul>
      <li>Community</li>
      <li>Airbnb.org: disaster relief housing</li>
      <li>Combating discrimination</li>
    </ul>
    <ul>
      <li>Hosting</li>
      <li>Airbnb your home</li>
      <li>AirCover for Hosts</li>
      <li>Explore hosting resources</li>
      <li>Visit our community forum</li>
      <li>How to host responsibly</li>
      <li>Airbnb-friendly apartments</li>
    </ul>
    <ul>
      <li>About</li>
      <li>Newsroom</li>
      <li>Learn about new features</li>
      <li>Letter from our founders</li>
      <li>Careers</li>
      <li>Investors</li>
      <li>Gift cards</li>
    </ul>
  </div>
  <div class="footer-credits">
    <p>
      Coffee Rights © www.DrinkACoffee.com
    </p>
  </div>
</footer>

<footer class="mobile-footer main-layout full">
  <div class="footer-content">
    <img routerLink="/" class="logo" src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681629704/logo_smny53.png" alt="">
    <div class="menu" (click)="onToggleHeaderMenuModal()">
      <fa-icon [icon]="faBars"></fa-icon>
      <img [src]="getUserImg()" alt="">

      <header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()"
        (toggleLanguageModal)="onToggleLanguageModal()" [isOpenLanguageModal]="isOpenLanguageModal"
        [isOpenFooter]="true" *ngIf="isShowHeaderMenuModal"></header-menu-modal>
    </div>
  </div>
</footer>

<language-modal (onToggleLanguageModal)="onToggleLanguageModal()" *ngIf="isOpenLanguageModal"></language-modal>
