<section [ngClass]="className" [ngSwitch]="modalNav" *ngIf="isNeedToShow">
  <region-modal *ngSwitchCase="'region-modal'" [stayFilter]="stayFilter" (setSearchFilter)="setSearchFilter.emit($event)"></region-modal>
  <search-place-modal *ngSwitchCase="'search-place-modal'" [stayFilter]="stayFilter" [placeNameFilter]="placeNameFilter" (setIsPlacesEmpty)="setIsPlacesEmpty($event)" (setSearchFilter)="setSearchFilter.emit($event)"></search-place-modal>
  <header-filter-guest-modal *ngSwitchCase="'guests-modal'" [order]="order" [stayFilter]="stayFilter"></header-filter-guest-modal>
</section>
