@import '../../../../assets/styles/setup/variables';
@import '../../../../assets/styles/setup/mixins';
@import '../../../../assets/styles/setup/function';

.header-filter-modal {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 2;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  color: $header-text-color;
  min-width: 350px;
  background-color: #ffffff;

  @include for-tablet-layout {
    &.right {
      right: 0;
      left: unset;
    }
  }

  @include for-mobile-layout {
    &{
      left: 50%;
      transform: translate(-50%, -50%);
      top: 435px;
      width: 270px;
    }
   }
}
