<section [ngClass]="isHeaderFilterActive ? 'header-filter active' : 'header-filter'">
  <div (click)="onToggleHeaderFilter()" class="header-filter-close" *ngIf="!isHeaderFilterActive">
    <span>Anywhere</span>
    <span>Any week</span>
    <span>Add guests</span>
    <span class="icon-container">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </span>
  </div>
  <div *ngIf="isHeaderFilterActive" tabindex="-1" (blur)="onBlur()" (window:scroll)="onToggleHeaderFilter()" class="header-filter-active">
    <div class="where" (click)="onWhereClick()">
      <span class="title">Where</span>
        <input (change)="onWhereClick()" type="text" placeholder="Search destination" [(ngModel)]="searchFilter"/>
    </div>
    <label for="calender" class="date" (click)="onClickDate()">
        <span class="title">Check in</span>
        <span>Add dates</span>
    </label>
    <input id="calender" type="text" [(ngModel)]="date" name="date" airbnb-calendar [options]="options" />
    <label for="calender" class="date" (click)="onClickDate()">
        <span class="title">Check out</span>
        <span>Add dates</span>
    </label>
    <div class="who-guests">
      <div class="add-guests" (click)="setModalNav('guests-modal')">
        <span class="title">who</span>
        <span>Add guests</span>
      </div>
      <div class="search" (click)="onSetFilter()">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <span>search</span>
      </div>
    </div>
    <header-filter-modal *ngIf="modalNav" [modalNav]="modalNav" (setModalNav)="setModalNav" [order]="order"></header-filter-modal>
  </div>
</section>
