<section [ngClass]="isHeaderFilterActive ? 'header-filter active' : 'header-filter'">
  <div (click)="onToggleHeaderFilter()" class="header-filter-close" *ngIf="!isHeaderFilterActive">
    <span>{{Anywhere | translate}}</span>
    <span>{{AnyWeek | translate}}</span>
    <span>{{AddGuest | translate}}</span>
    <span class="icon-container">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </span>
  </div>
  <div *ngIf="isHeaderFilterActive" (window:scroll)="onToggleHeaderFilter()"
    class="header-filter-active">
    <div [ngClass]="modalNav === 'region-modal' || modalNav === 'search-place-modal' ? 'where active' : 'where'"
      (click)="setModalNav('region-modal')">
      <span class="title">{{'stay.header.where' | translate}}</span>
      <input #searchBox (keyup)="onSetWhereSearch(searchBox.value)" [value]="searchFilter" type="text"
        placeholder="{{'stay.header.search-destination' | translate}}" />
    </div>
    <div class="border"></div>
    <label for="calender" [ngClass]="modalNav === 'start-date' ? 'active' : ''" class="date"
      (click)="onClickDate('start-date')">
      <span class="title">{{'stay.header.check-in' | translate}}</span>
      <span *ngIf="getCheckIn()">{{getCheckIn() | date}}</span>
      <span *ngIf="!getCheckIn()">{{'stay.header.add-dates' | translate}}</span>
    </label>
    <input id="calender" type="text" [(ngModel)]="date" name="date" airbnb-calendar [options]="options" />
    <div class="border"></div>
    <label for="calender" [ngClass]="modalNav === 'end-date' ? 'active ' : ''" class="date"
      (click)="onClickDate('end-date')">
      <span class="title">{{'stay.header.check-out' | translate}}</span>
      <span *ngIf="getCheckOut()">{{getCheckOut() | date}}</span>
      <span *ngIf="!getCheckOut()">{{'stay.header.add-dates' | translate}}</span>
    </label>
    <div class="border"></div>
    <div class="who-guests">
      <div [ngClass]="modalNav === 'guests-modal' ? 'active ' : ''" class="add-guests"
        (click)="setModalNav('guests-modal')">
        <span class="title">{{'stay.header.who' | translate}}</span>
        <span>{{getGuests()}}</span>
      </div>
      <div class="search" (click)="onClickSearch()">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <span *ngIf="getGuests().length < 11">{{'stay.header.search' | translate}}</span>
      </div>
    </div>
    <header-filter-modal *ngIf="modalNav" [modalNav]="modalNav" (setModalNav)="setModalNav"
      [order]="order" [stayFilter]="stayFilter" [placeNameFilter]="searchFilter"
      (setSearchFilter)="setSearchFilter($event)"></header-filter-modal>
  </div>
</section>
