@import '../../../../assets/styles/setup/variables';
@import '../../../../assets/styles/setup/mixins';
@import '../../../../assets/styles/setup/function';

::ng-deep .header-filter {
  airbnb-calendar {
    right: 212px;
    top: -14px;

    .airbnb-calendar-container {
      width: 400px;
      height: 250px;
    }

    .airbnb-calendar-container .airbnb-calendar .calendar {
      float: unset !important;
      width: 100% !important;
      background: white !important;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      padding-top: 16px !important;
      padding-bottom: 0 !important;
    }

    .day::before {
      padding-top: 70% !important;
    }

    @include for-tablet-layout {
        top: 40px;
    }

    @include for-normal-layout {
        top: 43px;
        right: 405px !important;

        .airbnb-calendar-container .airbnb-calendar .calendar {
            float: left !important;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
            width: 50% !important;
            background: white !important;
            box-shadow: none;
        }
        .day::before {
          padding-top: 100% !important;
        }
        .airbnb-calendar-container {
            width: 850px;
            height: 400px;
        }
    }
  }
}


.header-filter {
  @include center-absolute();
  top: 40px;
  z-index: 10;
  transition: .4s;


  &.active {
    top: 135px;
  }

  >* {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    font-size: rem(14px);
  }

  .header-filter-close {
    width: 348px;
    height: 48px;

    @include for-mobile-layout {
      width: 100%;
    }

    span {
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    >* {
      cursor: pointer;
      padding: 0 16px;
      font-weight: 600;

      @include for-mobile-layout {
        padding: 0 12px;
      }

      &:nth-child(2) {
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
      }

      &:nth-child(3) {
        color: $main-color;
        font-weight: 400;
      }

      .icon-container {
        @include center-flex();
        background-color: $secondary-color;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        color: #ffffff;
      }
    }
  }

  .header-filter-active {
    height: 64px;
    position: relative;
    background-color: #ebebeb;
    height: 100%;

    >* {
      display: flex;
      cursor: pointer;
      color: $main-color;
      font-size: 14px;
      height: 100%;
    }

    >*:not(.who-guests, #calender, :last-child, .border) {
      flex-direction: column;
      padding: 11px 34px;
    }

    .active {
      background-color: #fff;
      box-shadow: 0 23px 28px #b4b3b3;
      border-radius: 40px;
    }

    .border {
      width: 1px;
      background-color: darken($border-color, 5%);
      height: 60%;
    }

    .date {
      width: 160px;
    }

    #calender {
      width: 0;
      height: 0;
      opacity: 0;
    }

    .where {
      width: 250px;

      input {
        font-size: 14px;
        color: $main-color;
        border: none;
        background-color: inherit;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .who-guests {
      width: 300px;
      display: flex;
      justify-content: space-between;

      .add-guests {
        display: flex;
        padding: 11px 10px 11px 24px;
        flex-direction: column;
        min-width: 160px;
      }

      .search {
        @include center-flex();
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        margin: 7px 10px;
        padding: 16px 24px;
        gap: 8px;
        background-color: $secondary-color;
        border-radius: 100px;
      }
    }

    .title {
      color: $header-text-color;
      font-size: 12px;
      font-weight: 600;
      padding-bottom: 6px;
    }

    @include for-mobile-layout {
      & {
        @include center-flex();
        flex-direction: column;

        >*:not(.who-guests, #calender, :last-child, .border) {
          flex-direction: column;
          padding: 6px 34px;
        }

        .where,
        .date,
        .add-guests {
          @include center-flex();
          width: 100%;
        }

        .where {
          input {
            width: 125px;
          }
        }

        .who-guests {
          justify-content: center;
          position: relative;

          .search {
            justify-content: end;
            padding: 15px 17px;
            position: absolute;
            right: 0;

            span {
              display: none;
            }
          }
        }

      }
    }

  }
}