@import '../../../../assets/styles/setup/variables';
@import '../../../../assets/styles/setup/mixins';
@import '../../../../assets/styles/setup/function';

::ng-deep airbnb-calendar{
  top: 32px;
  right: 410px;
}

.header-filter {
  @include center-absolute();
  &.active {
    top: 135px;
  }

  >* {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    transition: box-shadow 0.2s ease;
    padding: 7px 10px;
    font-size: rem(14px);
  }
  .header-filter-close {
    min-width: 348px;
    height: 48px;

    >* {
        cursor: pointer;
        padding: 0 16px;
        font-weight: 600;

        &:nth-child(2) {
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
        }

        &:nth-child(3) {
            color: $main-color;
            font-weight: 400;
        }
        .icon-container {
            @include center-flex();
            background-color: $secondary-color;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            color: #ffffff;
        }
      }
    }

  .header-filter-active {
    position: relative;
    >*{
      display: flex;
      cursor: pointer;
      color: $main-color;
      font-size: 14px;
    }

    >*:not(.who-guests, #calender, :last-child) {
      flex-direction: column;
      border-right: 1px solid $border-color;
      padding: 4px 24px;
    }

    .date {
      width: 160px;
    }

    #calender {
      width: 0;
      opacity: 0;
    }

    .where {
      width: 250px;
      input {
        font-size: 14px;
        color: $main-color;
        border: none;
        &:focus-visible {
          outline: none;
        }
      }
    }

    .who-guests {
      .add-guests {
        display: flex;
        padding: 4px 24px;
        flex-direction: column;
        width: 160px;
      }

      .search {
        @include center-flex();
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        padding: 16px 24px;
        gap: 8px;
        background-color: $secondary-color;
        border-radius: 100px;
      }
    }

    .title {
      color: $header-text-color;
      font-size: 12px;
      font-weight: 600;
      padding-bottom: 6px;
    }

  }
}
