.stay-preview {
  .details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    line-height: 19px;
    color: #717171;
    .top {
      display: flex;
      justify-content: space-between;
      color: #222222;
      .loc {
        font-weight: 600;
      }
      .rate {
        display: flex;
        gap: 5px;
      }
    }

    .name {
      width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .price {
      span {
        color: #222222;
        font-weight: 600;
      }
    }
  }
}
